.footer-container {
  width: 100%;
  background-color: #0a1435;
  padding: 0.8rem;
  padding-top: 1rem;
}

.company-details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
}

h5 {
  color: white;
  font-weight: 500;
  padding: 0.5rem;
}

p {
  color: white;
  font-weight: 100;
}
.author-details {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}
